// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


img {
  max-width: 33%;
  float: left;
  height: 60px;
  padding: 10px;
}
  
